* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    transition: all 0.25s ease;

    @media screen and (min-width: 780px) {
        padding: 20px 60px;
        transition: all 0.25s ease;
    }
}

p, h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
